h1{
    text-align: center;
    color: #7286d3;
    font-family:"Sofia",sans-serif;
    font-size: 50px;
}

body{
    background-image: url('img3.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

hyper{
    align-items:right;
    padding: 100px;
    font-size: 20px;
}
group1{
    align-items:center;
    display:flex;
    justify-content:center;
    padding: 10px;
}
text1{
    padding: 50px;
    align-items: left;
    width: 800px;
    background-color:#EFE0FF;
}
t3{
    font-weight: bold;
    font-size: 20px;
}
button{
    border-style: round;
    border-color:#7286d3;
    color:white;
    padding: 5px;
    text-align:center;
    display:inline-block;
    font-size:15px;
}
